# when cloning this repo, create a copy of this file named ".env" and populate it with your secrets. 

# Keep this file up-to-date when you add new variables to ".env". 

# When adding additional environment variables, the schema in "/src/env.mjs" should be updated accordingly. 

# Do not put real informations in this file. 

# server side

DATABASE_URL="mysql://database.url"
PORT=3000
SESSION_PASSWORD="complex_password_at_least_32_characters_long"

UPSTASH_REDIS_REST_URL="UPSTASH_REDIS_REST_URL"
UPSTASH_REDIS_REST_TOKEN="UPSTASH_REDIS_REST_TOKEN"

CLOUDFLARE_ACCOUND_ID="CLOUDFLARE_ACCOUND_ID"
CLOUDFLARE_TOKEN="CLOUDFLARE_TOKEN"

GITHUB_ID="GITHUB_CLIENT_ID"
GITHUB_SECRET="GITHUB_CLIENT_SECRET"

CLOUDFLARE_STREAM_TOKEN="CLOUDFLARE_STREAM_TOKEN"
CLOUDFLARE_CODE="CLOUDFLARE_CODE"

# client side

NEXT_PUBLIC_EMAILJS_SERVICE_ID="email_js_service_id"
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="email_js_template_id"
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="email_js_public_key"

NEXT_PUBLIC_GOOGLE_ID="GOOGLE_CLIENT_ID"
NEXT_PUBLIC_GOOGLE_SECRET="GOOGLE_CLIENT_SECRET"
NEXT_PUBLIC_GOOGLE_REDIRECT_URI="GOOGLE_REDIRECT_URI"

NEXT_PUBLIC_GITHUB_ID="GITHUB_CLIENT_ID"

NEXT_PUBLIC_CLOUDFLARE_CODE="CLOUDFLARE_CODE"
