@tailwind base;
@tailwind components;
@tailwind utilities;

.page-full {
  @apply flex min-h-screen w-full flex-col;
}

.flex-x-center {
  @apply flex items-center justify-center;
}

.flex-y-center {
  @apply flex flex-col items-center justify-center;
}

.nav-box {
  @apply w-1/5 decoration-cyan-500 underline-offset-2 hover:underline;
}

.nav-button {
  @apply flex-y-center space-y-2 p-2;
}

.icon {
  @apply h-6 w-6;
}

.input {
  @apply w-full appearance-none border border-gray-400 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-cyan-500 focus:outline-none focus:ring-cyan-500;
}

.ring-focus {
  @apply focus:outline-none focus:ring-cyan-500;
}

.ring-focus-2 {
  @apply focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
